body {
  caret-color: var(--text-accent) !important;

  --text-selection: #BBD7FB !important;
}

.is-flashing,.search-result-file-matched-text {
  background-color: #F4E952 !important;
}

.list-bullet:after {
  background-color: #DD4C4FBB;
}

.list-bullet::hover > :after {
  background-color: #DD4C4F !important;
}

.cm-strikethrough {
  color: #A9B0B3;
}

.cm-hmd-frontmatter.cm-atom {
  color: black;
}

.cm-s-obsidian span.cm-quote {
  font-style: italic !important;
}
