.cm-hmd-frontmatter {
  font-size: 12px !important;
}


.HyperMD-header-1,
.HyperMD-header-2,
.HyperMD-header-3,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6{
  padding-top: 18px;
}

.HyperMD-header-1 {
  padding-top: 32px !important;
}
.HyperMD-header-2 {
  padding-top: 28px !important;
}
.HyperMD-header-3 {
  padding-top: 24px !important;
}

.HyperMD-header-4 {
  padding-top: 19px !important;
}

.HyperMD-header-5 {
  padding-top: 17px !important;
}
.HyperMD-header-6 {
  padding-top: 16px !important;
}

.HyperMD-header-1,
.HyperMD-header-2,
.HyperMD-header-3,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6{ 
  padding-bottom: 6px !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list {
  letter-spacing: 2px !important;
}

.cm-hmd-frontmatter {
  font-size: 14px;
  font-style: italic;
  color: var(--markup-code);
}

.popover.hover-popover {
  transform: scale(0.9); /* makes the content smaller */
  max-height: 600px; /* was 300 */
  min-height: 100px;
  width: 500px; /* was 400 */
}

.popover.hover-popover .markdown-embed {
  height: 600px;
}

.markdown-preview-view h1 {
  font-size: 32px !important;
}

.markdown-preview-view h2 {
  font-size: 28px !important;
}

.markdown-preview-view h3 {
  font-size: 24px !important;
}

.markdown-preview-view h4 {
  font-size: 20px !important;
}

.markdown-preview-view h5 {
  font-size: 18px !important;
}

.markdown-preview-view h6 {
  font-size: 16px !important;
}

/* editor */

.cm-header-1 {
  font-size: 32px !important;
}

.cm-header-2 {
  font-size: 28px !important;
}

.cm-header-3 {
  font-size: 24px !important;
}

.cm-header-4 {
  font-size: 19px !important;
}

.cm-header-5 {
  font-size: 17px !important;
}

.cm-header-6 {
  font-size: 16px !important;
}

.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list-ul:before {
  content: "•";
  margin-left: -3px !important;
  margin-top: -2px !important;
  font-size: 16px !important;
  opacity: 0.5 !important;
}
body {
  --h1: 2em;
  --h2: 1.6em;
  --h3: 1.37em;
  --h4: 1.25em;
  --h5: 1.12em;
  --h6: 1.12em;
}

